module.exports = {
    name: 'Елизавета',               // Ваше имя
    phone: '+7 (999) 123-45-67',     // Телефон для связи
    email: 'your-email@example.com', // Электронная почта

    comment: '',                     // Комментарий к заказу (опционально)
    promocode: '',                   // Промокод (опционально)

    address: {
        city: '1',
        street: 'пр-т Ленина',       // Улица
        building: '62',              // Номер дома
        room: '25',                  // Номер квартиры
        floor: '5'                   // Этаж (опционально)
    }
}